PG_USERNAME=ainewsbot
PG_PASSWORD=postgres
PG_HOST=postgres
PG_NAME=ainewsbot

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672//
REDIS_URL=redis://redis:6379/0

TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_SESSION=anon
TELEGRAM_PUBLISH_CHANNEL=

OPENAI_API_KEY=